{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react(?:-dom)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/client/hooks/(.*)$",
    "^@/client/context/(.*)$",
    "^@/client/components/(.*)$",
    "^@/client/(.*)$",
    "^@/server/(.*)$",
    "^@/types$"
  ],
  "importOrderSortSpecifiers": true
}
